attrs==21.2.0
click==7.1.2
construct==2.9.44  # https://github.com/construct/construct/issues/705
iniconfig==1.1.1
lark==0.11.3
multiprocessing-logging==0.3.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.3
toml==0.10.2
zstandard==0.15.1 --install-option="--legacy"
